version: "3.9"
services:
  db:
    image: postgis/postgis:11-3.3-alpine
    volumes:
      - ./tmp/db:/var/lib/postgresql/data:z
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "${POSTGRES_PORT:-5432}:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    env_file:
      - .env
    environment:
      - RAILS_ENV=development
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - .:/mangroveAtlasApi
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis

  sidekiq:
    build: .
    command: bundle exec sidekiq -C config/sidekiq.yml
    env_file:
      - .env
    environment:
      - RAILS_ENV=development
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - .:/mangroveAtlasApi
    depends_on:
      - db
      - redis

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: none
    ports:
      - 1025:1025
      - 8025:8025

volumes:
  redis_data:
