/* body {
    background-color: rgba(163, 209, 98, 8%);
} */
.heading-invisible {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: 0 -1px -1px 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
}

.neutral { background-color: #737373; }
.primary { background-color: #0D3E3C; }
.white { background-color: #FFFFFF; }
.mint { background-color: rgba(163, 209, 98, 0.08); }

.font-heading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 28px;
 }

.no-margin {
    margin-top: 0em;
    margin-bottom: 0em;
}

.question-padding { 
    padding-top: 16px;
    padding-bottom: 32px;
}

.td-align {
    vertical-align: top;
}

.pagebreak { page-break-after: always; } /* page-break-after works, as well */

.left { float: left; }
.right { float: right; }