<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Site Report</title>
  </head>
  <body>
    <h1>Site Report</h1>
    <table>
      <thead>
        <tr>
          <th>Site ID</th>
          <th>Site name</th>
          <th>Site map</th>
        </tr>
      </thead>
      <tbody>
        <% @all_site_rows.each do |site_row| %>
          <tr>
            <td><%= site_row['site_id'] %></td>
            <td><%= site_row['site_name'] %></td>
            <td>
            <% unless site_row['site_map'].nil? %>
              <img src="<%= site_row['site_map'] %>">
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
