<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% if @source == 'gmw' %>
  <%= link_to 'Change my password', ENV["GMW_UI_BASE_URL"] + "/auth/password/reset?token=" + @token %>
<% else %>
  <%= link_to 'Change my password', ENV["MRTT_UI_BASE_URL"] + "/auth/password/reset?token=" + @token %>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
